body {
    font-family: times, times;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f02a02;
}
#question {
    font-size: 2.0em;
    margin-bottom: 20px;
    text-align: center;
    max-width: 700px;
}
.answer-btn {
    display: block;
    margin: 10px;
    padding: 12px 30px;
    font-size: 1.5em;
    cursor: pointer;
    width: 300px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #c23111;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
}
.answer-btn:hover {
    background-color: #eaeaea;
}
#feedback {
    margin-top: 20px;
    font-size: 1.3em;
    height: 30px;
}